.container {
    max-width:600px;
    margin: 0 auto;
    padding-bottom: 60px;
    
}

.content-img {
    background-image: url('../Images/imageBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 677px;
}

.content-text {
    padding: 20px;
}

.tapbar-container {
    position: fixed;
    bottom: 0;
    left: 50%;   
    transform: translateX(-50%);  
    width: 100%;
    max-width: 600px;
    height: 58px;
    background-color: #fffffff3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tapbar-container.visible {
    visibility: visible;
    transition: visibility 0.7s ease-in-out;
}

.tapbar-container.hidden {
    visibility: hidden;
    transition: visibility 0.7s ease-in-out;
}

.tapbar-button {
    cursor: pointer;
    border: none;
    position: relative;
    background-color: transparent;
    align-items: center;
}

.button-count {
    position: absolute;
    bottom: 50%;
    left: 28px;
    transform: translate(50%, 50%);
}

